[
  {
    "contracts": {
      "promoStaking": <address>,
      "liquidityRewards": <address>,
      "insidersVesting": <address>,
      "daoVesting": <address>,
      "stakingRewards": <address>,
      "providersRewards": <address>,
      "demandStimulus": <address>
    },
    "multisigs": {
      "liquidityRewards": <address>,
      "publicSale": <address>,
      "dao": <address>
    }
  }
]
